.cursor-pointer {
  cursor: pointer !important;
}
.cursor-crosshair {
  cursor: crosshair !important;
}
.cursor-move {
  cursor: move !important;
}
.cursor-default {
  cursor: default !important;
}
.cursor-copy {
  cursor: copy !important;
}
.cursor-grabbing {
  cursor: -webkit-grabbing !important;
}
