@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d2a81e');
  src:  url('fonts/icomoon.eot?d2a81e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d2a81e') format('truetype'),
    url('fonts/icomoon.woff?d2a81e') format('woff'),
    url('fonts/icomoon.svg?d2a81e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-analysis:before {
  content: "\e900";
  color: #515151;
}
.icon-bottom:before {
  content: "\e901";
  color: #707070;
}
.icon-excavation:before {
  content: "\e902";
}
.icon-kaichangdu .path1:before {
  content: "\e903";
  color: rgb(255, 255, 255);
}
.icon-kaichangdu .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-kaichangdu .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-kaichangdu .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(172, 172, 172);
}
.icon-kaichangdu .path5:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(144, 144, 144);
}
.icon-kaichangdu .path6:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.icon-mea-angle:before {
  content: "\e909";
}
.icon-mea-point:before {
  content: "\e90a";
}
.icon-model-rotate:before {
  content: "\e90b";
}
.icon-more:before {
  content: "\e90c";
  color: #707070;
}
.icon-skyline:before {
  content: "\e90d";
}
.icon-split-screen:before {
  content: "\e90e";
  color: #707070;
}
.icon-submerged:before {
  content: "\e90f";
}
.icon-top:before {
  content: "\e910";
  color: #707070;
}
