.my-icon-mea-point {
  background: url('../images/mea-point.svg') no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.my-icon-mea-angle {
  background: url('../images/mea-angle.svg') no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.my-icon-analysis {
  background: url('../images/analysis.svg') no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.my-icon-split-screen {
  background: url('../images/split-screen.svg') no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.my-icon-more {
  background: url('../images/more.svg') no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.my-icon-model-rotate {
  background: url('../images/model-rotate.svg') no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.my-icon-skyline {
  background: url('../images/skyline.svg') no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.my-icon-kaichangdu {
  background: url('../images/kaichangdu.svg') no-repeat;
  background-size: 16px;
  width: 16px;
  height: 16px;
}
